<!-- <div class="background_img">
	<%= image_tag("nightlife_img.jpg", width: "100%" ) %> 
</div> -->
<div class="content-home">
	<p>ira</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd
	<p>fsd</p>fsd

</div>
