footer {
	background-image: url(nightlife_bg.png);
	background-color: #3C3C3C;
	border-color: #3C3C3C;
}

footer p {
	color: #838383;
	font-weight: bold;
}

.container .col-md-2.logo {
	padding-left: 0;
}
