.navbar.home {
	background-image: url(nightlife_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	height: 343px;
	background-position: top center;
}

.navbar .container .navbar-brand {
	margin-top: -20px;
}


.navbar {
	background-color: #3C3C3C;
	border-color: #3C3C3C;
	background-image: url(nightlife_bg.png);
	z-index: 1000;
	height: 67px;
}

.nav .navbar-nav {
	margin-top: 8px;
}

.navbar-default .navbar-nav li a {
	color: #838383;
	font-weight: bold;
}

.navbar-default .navbar-nav li a:hover {
	color: #FFFFFF;
}

.dropdown-menu {
	background-color: #E7E7E7;
}


