<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">TangoTM</a>
    </div>

    <div class="nav navbar-nav navbar-right" id="navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="active"><a href="/">ГЛАВНАЯ</a></li>

        <li class="dropdown">
          <a href="/information" class="dropdown-toggle" data-toggle="dropdown">О КЛУБЕ<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">КТО МЫ?</a></li>
            <li><a href="#">ПЕДАГОГИ</a></li>
            <li><a href="#">СТРУКТУРА КЛУБА</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="/lesson" class="dropdown-toggle" data-toggle="dropdown">ЗАНЯТИЯ<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">РАСПИСАНИЕ И СТОИМОСТЬ</a></li>
            <li><a href="#">В ЧЕМ ПРИХОДИТЬ?</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="/milonga" class="dropdown-toggle" data-toggle="dropdown">МИЛОНГИ И СОБЫТИЯ<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">МИЛОНГИ</a></li>
            <li><a href="#">ГРЯДУЩЕЕ СОБЫТИЕ</a></li>
            <li><a href="#">АРХИВ СОБЫТИЙ</a></li>
          </ul>
        </li>

        <li><a href="/nosotros">ТАНГО-МЫ</a></li>

        <li><a href="/contact">КОНТАКТЫ</a></li>

      </ul>
    </div>
  </div>
</nav>